.Footer {
    text-align: center;
    padding: 3em 0 4em;
}
.media {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;

}


.Footer h2 {
    color: #666;
    font-size: 24px;
    margin-bottom: 2rem;
}

.media > img {
    max-width: 160px;
    
}