.slick-prev:before, .slick-next:before {
    color: #6666664a!important;
}

div img {
    width: 100%;
}

.slick-prev {
    left: 0!important;
    z-index: 99;
    margin-left: 20px;
}

.slick-next {
    right: 0!important;
    z-index: 99;
    margin-right: 20px;
}