
@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";



body {
    font-family: 'Roboto', sans-serif;
    background: #F9F9FA;
}


main {
    
    margin: 0 auto;
    max-width: 1180px;
    background: #fff;
}

ul li {
    list-style-type: none;
}

@media only screen and (max-width : 460px) {
    main {
        margin: 0 15px;
    }
}


